body{
    /* background-color:#9DE0FC; */
}

#header{
    padding:1rem;
    background-color:#000000;
    color:#CCEFF2;
    position:fixed;
    width:100%;
}

.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
}

div#logo img{
    height:2.5rem;
    width:auto;
}

/* div#navbar{
    margin-top:0.5rem;
} */

div#navbar span{
    padding:0.5rem;
}

div#contact{
    margin-right:1rem;
}

div#right button{
    color:#CCEFF2;
    height: 2rem;
    width: 2rem;
    background-color:#000000;
    border:0px;
    margin-right:3rem;
    /* background: url("images/search.png") no-repeat #f4f4f4;
    background-blend-mode: darken; */
}

.big-img img{
    margin-top:4rem;
    width:100%;
}